@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100;200;400&family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
}

/* Typography */

p {
  margin-bottom: 1rem;
  color: #121212;
  font-family: 'Overpass', sans-serif;
  font-weight: 300;
  font-size: 1rem;
}
h1 {
  font-size: 3.5rem;
  font-family: 'Big Shoulders Display', serif;
  font-weight: 200;
  margin-bottom: 1rem;
  border-bottom: 1.5px solid;
  border-image: linear-gradient(to right, #f9c5b1, transparent);
  border-image-slice: 1;
  color: #121212;
}
h2 {
  font-size: 2rem;
  font-family: 'Big Shoulders Display', serif;
  font-weight: 400;
  margin-bottom: 1rem;
  color: #121212;
}
a:link {
  color: #121212;
}
a:visited {
  color: #121212;
}
a:hover {
  color: #000;
}
a:active {
  color: #000;
}

/* Buttons */

.primary-button{
  margin: .25rem;
  border: none;
  padding: .75rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  background-color: #fff;
  border: none;
  border: .5px solid #121212;
  box-shadow: 5px 3px #121212;
  font-family: 'Overpass';
  color: #000;
}
.primary-button:hover {
  box-shadow: 5px 3px #000;
  background-color: #f9c5b1be;
  color: #000;

}
.primary-button:active {
  position: relative;
  top: 2px;
  left: 2px;
  box-shadow: 1px 1px #000;
  color: #000;
}

/* Header */

#header {
  height: 90vh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#header > h1 {
  padding-right: 3rem;
  font-size: 7rem;
  border-radius: 0 0 5rem 0;
  box-shadow: 2rem 2rem 2rem #f9c5b1 ;
  border-bottom: none;
  margin-bottom: .15rem;
  line-height: 6rem;
  cursor: pointer;

}
#header > h2 {
  color: #fff;
  font-size: 1.8rem;
  letter-spacing: .25rem;
  cursor: pointer;

}

/* Navigation */

nav {
  width: 100vw;
  position: fixed;
  top: 0px;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  z-index: 999;
}
.nav-fade {
  z-index: 998;
  height: 10rem;
  width: 100vw;
  position: fixed;
  top: 0px;
  background-image: linear-gradient(to top, transparent, transparent, #fff, #fff);
}
nav > ul {
  display: flex;
  list-style: none;
}
nav > ul > li {
  margin: 1rem;
}

nav > ul > li > a:link, a:visited, a:active {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.693);
  font-family: 'Nunito Sans', sans-serif;
}
nav > ul > li > a:hover {
  color: #f9c5b1;
}
/* Content */

#main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section {
  padding-top: 5rem;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 70vw;
  max-width: 800px;
}
.work-wrapper {
  display: flex;
  flex-wrap: wrap;
/*   flex: 1 1 550px; */
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.work-wrapper > div {
  display: flex;
  flex-direction: column;
  border-left: 1.5px solid #f9c5b1;
  padding-left: 1rem;
  max-width: 70%;
}
.logo {
  width: 200px;
  padding-right: 1rem;
  filter: grayscale(100%);
  margin-top: 1.5rem;
}

.tech{
  font-size: .8rem;
  border: 1px solid #f9c5b1;
  background-color:transparent;
  padding-top: .15rem;
  padding-left: .25rem;
  padding-right: .25rem;
  border-radius: .25rem;
}
.tech-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: .25rem;
}
.tech:hover{
 box-shadow: 0 0 5px 1px  #f9c5b1be;
 background-color: #fff;
 cursor: pointer;
}

/* Tech Talks */

#tech-talk-wrapper {
  display: flex;
}

.youtube-icon {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.693);
  border-radius: 50%;
  position: relative;
  margin-right: 1.5rem;
}
.youtube-icon::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-40%, -50%);
  width: 0;
  height: 0;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-left: 20px solid white;
  margin-right: 1.5rem;
}

/* Footer */

footer {
  font-family: 'Overpass', sans-serif;
  font-weight: 300;
  font-size: 1rem;
  text-align: center;
  padding: 1rem;
  border-top: 1px solid #f9c5b1;
  margin-top: 2rem;

}

/* Mobile  */

@media (max-width: 768px),  (hover: none){
  #main {
    padding: 1rem;
  }
  html, button {
    font-size: 4vw;
  }
  .section {
    width: 100%;
  }
  .logo {
    width: 60vw;
  }
  /* Naviagation */
  .nav-fade {
    background-image: linear-gradient(to top, transparent, #f9c5b1);
    height: 5rem;
  }
  nav {
    height: 100%;
    background-color: #f9c5b1;
    border-bottom-right-radius: 5rem;
    flex-direction: column;
    justify-content: center;
    transition: top 0.3s ease;
    gap: 1rem;
    z-index: 1001;
  }
  nav > ul {
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }
  nav > ul > li {
    font-size: 2rem;
  }
  .closed-menu {
    position: absolute;
    top: -2000px;
    height: 0px;
  }
  #burger-icon {
    position: fixed;
    top: 1rem;
    right: 1rem;
    width: 3rem;
    height: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1002;
  }
  #burger-icon span {
    width: 100%;
    height: 6px;
    background-color: rgba(0, 0, 0, 0.693);
    border-radius: 1rem;
  }

  /* Header */
  #header {
    background: linear-gradient(to bottom, #f9c5b1, transparent);
    height: 100vh;
  }
  #header > h1 {
    box-shadow: none;
    text-align: center;
    padding: 0px;
  }
  #header > h2 {
    color: #000;
  }
  #about-me{
    height: 100vh;
  }
  #main > section > h1 {
    z-index: 1000;
  }
  .section {
    padding-top: 1rem;

  }
}
