@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100;200;400&family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 * {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
}

body {
  background-image: linear-gradient(#f2f2f2, white);
  background-attachment: fixed;
}

/* Typography */
.arrow {
  font-family: 'Overpass';
  font-size: 3rem;
  font-weight: 100;
}
p {
  margin-bottom: 1rem;
  color: #121212;
  font-family: 'Overpass', sans-serif;
  font-weight: 300;
  font-size: 1rem;
}
h1 {
  font-size: 3.5rem;
  font-family: 'Big Shoulders Display', serif;
  font-weight: 200;
  margin-bottom: 1rem;
  border-bottom: 1.5px solid;
  border-image: linear-gradient(to right, #121212, transparent);
  border-image-slice: 1;
  color: #121212;
}
h2 {
  font-size: 2rem;
  font-family: 'Big Shoulders Display', serif;
  font-weight: 400;
  margin-bottom: 1rem;
  color: #121212;
}
a:link {
  color: #121212;
}
a:visited {
  color: #121212;
}
a:hover {
  color: #000;
}
a:active {
  color: #000;
} 

/* Buttons */
.button-desktop {
  display: block;
}

.primary-button{
  margin: .25rem;
  text-transform: uppercase;
  border: none;
  padding: .75rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  background-color: transparent;
  border: none;
  border: .5px solid #121212;
  font-family: 'Overpass';
}
.primary-button:hover {
  background-color: #f9c5b1;
}
.primary-button:active {
  position: relative;
  top: 2px;
  left: 2px;
  box-shadow: -1px -1px #000;
}
.primary-button > a:link, a:visited, a:active {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.693);
  font-family: 'Nunito Sans', sans-serif;
} 

/* Header */

 #header {
  height: 90vh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#header > h1 {
  padding-right: 3rem;
  font-size: 7rem;
  box-shadow: 2rem 2.5rem  #f9c5b1 ;
  border-bottom: none;
  margin-bottom: .15rem;
}
#header > h2 {
  color: #121212;
  font-size: 1.8rem;
  letter-spacing: .25rem;
} 

/* Navigation */

nav {
  width: 100vw;
  position: fixed;
  top: 0px;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  z-index: 999;
}
.nav-fade {
  z-index: 998;
  height: 10rem;
  width: 100vw;
  position: fixed;
  top: 0px;
  background-image: linear-gradient(to top, transparent, transparent, #f2f2f2, #f2f2f2);
}
nav > ul {
  display: flex;
  list-style: none;
}
nav > ul > li {
  margin: 1rem;
}
nav > ul > li > a:link, a:visited, a:active {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.693);
  font-family: 'Nunito Sans', sans-serif;
} 

/* Content */

 #main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} 
.section {

  margin: 2rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 70vw;
  max-width: 800px;
  min-height: 90vh;
} 

#open-source-work{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
#open-source-work > h1 {
  width: 100%;
}
.osprod {
  width: 250px;
  
}

.osprod > img {
  height: 200px;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.work-wrapper {
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.work-wrapper > div {
  display: flex;
  flex-direction: column;
}
.work-wrapper > div > h2 {
  background-color: #f9c5b1;
  color: #121212;
  padding: .25rem 0 .25rem 1rem;
}
.left-work-wrap {
  width: 32%;
}
.right-work-wrap {
  width: 65%;
  padding: 1rem;
  margin-right: 2rem;
}
.work-mobile-flex {
  display: flex;
  justify-content: space-between;
  padding: .5rem;
}
.logo {
  width: 200px;
  padding-right: 1rem;
  margin-top: 1.5rem;
}

.desktop {
  width: 100%;
  display: none;
}
.mobile {
  margin: -5rem 0 0 1rem;
  width: 100%;
  height: auto;
  background-color: white;
  border: 1px solid #121212;
  border-top: 10px solid #121212;
}
.tech{
  font-size: .8rem;
  border: 1px solid #d0b59eb2;
  background-color:transparent;
  padding-top: .15rem;
  padding-left: .25rem;
  padding-right: .25rem;
  border-radius: .25rem;
  cursor: pointer;
}
.tech-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: .25rem;
  border-radius: 1rem 0 1rem 0;
  /* background-color: #fff; */
}
.tech:hover{
 box-shadow: 0 0 5px 1px  #d0b59eb2;
}

/* Tech Talks */

#tech-talk-wrapper {
  display: flex;
}

.youtube-icon {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.693);
  border-radius: 50%;
  position: relative;
  margin-right: 1.5rem;
}
.youtube-icon::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-40%, -50%);
  width: 0;
  height: 0;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-left: 20px solid white;
  margin-right: 1.5rem;
}

/* Footer */

footer {
  font-family: 'Overpass', sans-serif;
  font-weight: 300;
  font-size: 1rem;
  text-align: center;
  padding: 1rem;
  border-top: 1px solid #d0b59e;
  margin-top: 2rem;

}

/* Mobile  */

@media (max-width: 700px),  (hover: none){

  /* Naviagation */
  .nav-fade {
    background-image: linear-gradient(to top, transparent, #d0b59e);
    height: 5rem;
  }
  nav {
    height: 100%;
    background-color: #d0b59e;
    border-bottom-right-radius: 5rem;
    flex-direction: column;
    justify-content: center;
    transition: top 0.3s ease;
    gap: 1rem;
    z-index: 1001;
  }
  nav > ul {
    flex-direction: column;
    justify-content: center;
    /* gap: 1rem; */
  }
  nav > ul > li {
    font-size: 1.5rem;
    font-weight: 300;
  }
  .closed-menu {
    position: absolute;
    top: -2000px;
    height: 0px;
  }
  #burger-icon {
    position: fixed;
    top: 1rem;
    right: 1rem;
    width: 3rem;
    height: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1002;
  }
  #burger-icon span {
    width: 100%;
    height: 6px;
    background-color: rgba(0, 0, 0, 0.693);
    border-radius: 1rem;
  } 

  /* Header */
   #header {
    background: linear-gradient(to bottom, #d0b59e, transparent);
    z-index: 999;
  }
  #header > h1 {
    text-align: center;  
    line-height: 4.2rem;  
    z-index: 1000;
    border: none;
    padding: .5rem;
    box-shadow: none;
    font-size: 5rem;
  }
  #header > h2 {
    color: #000;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1rem;
    z-index: 1000;
  } 

  /* Content */

   .section{
    width: 90%;
    padding-top: 4.5rem;
    min-height: 100vh;
  } 

   .work-wrapper {
    display: block;
  }
  .work-mobile-flex {
    flex-direction: column;
  }
  .right-work-wrap {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .left-work-wrap {
    width: 100%;
    margin: 0;
    padding: 0;

  }
  .mobile {
    display: none;
  }
  .logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  #talks {
    padding: 0px;
    min-height: 0px;
  }
 .desktop {
  display: block;
 }
 .osprod {
  width: 100%;
}
}
